
.context-menu-separator{
    border-bottom:1px solid black !important;
}
  
.context-menu-icon::before{
    color:var(--particle-color) !important;
}
  
.context-menu-list {
    border: 2px solid black !important;
    background-color:var(--context-menu-background) !important;
    padding:0 !important;
}

.context-menu-item {
    background-color:var(--context-menu-background) !important;
}
  
.context-menu-item:hover{
    background-color:var(--terminal-font-color) !important;
}
  
.context-menu-item span{
    color:  whitesmoke !important;
}