@import url("./variables.css");

.context-menu-orange-theme {
    background-color:var(--nav-background-color) !important;
    
}

.context-menu-orange-theme hr {
    background-color: var(--terminal-font-color);
}

.context-menu-orange-theme > *:not(hr) {
    color:white !important;
    font-family: var(--default-font);
    font-size:8pt !important;
}

.context-menu-orange-theme > *:not(hr):hover {
    background-color:var(--terminal-font-color) !important;
    color:var(--nav-background-color) !important;
}

.custom-context-menu-cls {
    font-family: var(--default-font);
}

.context-menu-list{
    background-color:var(--nav-background-color) !important;
    border-radius:0 !important;
    border:0px !important;
    
}

.context-menu-list .context-menu-item{
    background-color:var(--nav-background-color) !important;
    color:white !important;
    font-family: var(--default-font);
    font-size:8pt !important;
    padding-top:10px;
    padding-bottom:10px;
}

.context-menu-item:hover{
    background-color:var(--terminal-font-color) !important;
    color:var(--nav-background-color) !important;
}