@import url("./variables.css");
.context-menu-separator{
    border-bottom:1px solid black !important;
}
  
.context-menu-icon::before{
    color:var(--particle-color) !important;
}
  
.context-menu-list {
    border: 2px solid black !important;
    background-color:var(--context-menu-background) !important;
    padding:0 !important;
    font-family: var(--default-font);
}

.context-menu-item {
    background-color:var(--context-menu-background) !important;

}

  
.context-menu-item span{
    color:var(--particle-color) !important;
    font-family: Inconsolata, monospace !important;
    font-size: 5pt !important;
}