*{
    --number-of-explorer-items: 8
}

#file-explorer-wrapper{
    max-width:100%;
    display:flex;
    justify-content:flex-start;
    flex-direction:row;
    flex-wrap: wrap;
    height: auto;
}

.file-menu {
    display: block;
    transition-duration: 0.5s;
    background: transparent !important;
}

.menu-item{
    background:transparent !important ;
}

.hoverable:hover {
    cursor: pointer;
}

.explorer-item:hover{
    cursor:pointer;
    color:blue;
}

#explorer{
    display: grid;
    grid-template-columns: repeat(var(--number-of-explorer-items), 15vh);
}

.explorer-item{
    overflow-wrap: break-word;
    display:block;
    /* border:2px solid lawngreen; */
    font-size:8pt;
    margin:5px;
    height:auto;
    width:12vh;
}


.file-menu{
    display:block;
}

.explorer-icon{
    display:block;
}

#explorer {
    margin:10vh 5vh;
}

@media screen and (min-width : 500px) and (max-width : 1000px)  {
    *{
        --number-of-explorer-items: 6;
    }
}

@media screen and (min-width : 320px) and (max-width : 500px)  {
    *{
        --number-of-explorer-items: 4;
    }
}

@media screen and (max-width : 320px)  {
    *{
        --number-of-explorer-items: 3;
    }
}