@import url("./variables.css");
@import url("./window.css");
@import url("./context-menu.css");
@import url("./terminal.css");

body{
  position:fixed;
  color:white;
  background:#404347;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:left left;
  z-index:1;
  margin:0;
  height:100%;
  width:100%;
  font-family: var(--default-font);
  overflow: hidden;
}
  /*okay*/
.background {
  display:block;
  top:0;
  left:0;
  z-index:0;
}

#editor-container{
    display:none;
}

#page-wrapper{
  height:100%;
  width:100%;
  position: relative;
  background:url("../images/sunset.png");
  background-size:cover;
}

.mouse-halo::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - var(--halo-radius) * 1px);
  left: calc(var(--x, 0) * 1px - var(--halo-radius) * 1px);
  width: calc(var(--halo-radius)* 2px);
  height: calc(var(--halo-radius)* 2px);
  background: radial-gradient(rgba(62, 119, 241, 0.6), transparent 80%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.mouse-halo:hover::after {
  opacity: 0.4;
}


#logo-container{
  padding:20px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 4px rgba(45, 52, 63, 0.5);
  border-radius: 50%;
  position:fixed;
  top:43%;
  left:44%;
  z-index: 0;
  justify-content: center;
}


.ui-dialog .ui-dialog-titlebar{
  padding:0.1em 0.5em !important;
}

.ui-dialog{
  font-family: Inconsolata, monospace !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#404347;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.desktop-anchor{
  display:block;
  height:100vh;
  width:100vh;
  margin-top:5vh;
}

.desktop-icon{
  display:block;
  margin:10px;
  padding:5px;
}

#desktop-logo{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}


#main-container{
  
}

#icon-container{
  padding:5vh 2vh;
  /* display:flex;
  flex-direction:row; */
  display:grid;
  grid-template-columns: repeat(auto-fill, var(--size-of-desktop-icon-slot));
  grid-template-rows: repeat(auto-fill, var(--size-of-desktop-icon-slot)); 
  width:100%;
  list-style: none;
  background-color: transparent;
  position:fixed;
  text-align: center;
  font-size:8pt !important;
  flex-wrap: wrap;
}


.desktop-icon{
  height:var(--height-of-desktop-icons);
  width:var(--width-of-desktop-icons);
  text-align: center;
}

.desktop-icon:hover{
    cursor:pointer;
}

.desktop-icon-link{
  display:flex;
  flex-direction:column;
  padding:5px;
}

.desktop-icon-link span{
    margin-top:0;
}

.placeholder{
  visibility: hidden;
}

.selected{
}

#volume-menu{

}
#volume-slider{
  /* width:200px;
  height:30px;
  background-color: var(--nav-background-color);
  position:fixed;
  display:block;
  top:30px;
  right:0; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


@media only screen and (max-width: 1000px){
  #logo-container{
    left:40%;
  }
}

@media only screen and (min-width : 480px) and (max-width: 560px){
  #logo-container{
    left:38%;
  }
}

@media only screen and (min-width : 320px) and (max-width: 480px){
  body{
    font-size:12pt !important;
  }

  #logo-container{
    left:34%;
  }

}

